.singleFacility{
   background-color: #f9f9f9;
   
}
.card{
    height: 280px;
    padding: 25px;
    background-color: #f9f9f9;
    border:0px;
    border-radius: 0px;
    transition: .8s ease;
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardIcon{
    font-size: 35px;
    color:#f79e0a;
}